:root {
  --color-olive-50: #EDE1D1;
  --color-olive-100: #E3D3BE;
  --color-amber-100: #E6C285;
  --color-amber-200: #F8E2C5;
  --color-amber-300: #FFE4B5;
  --color-page: #faf4ec;
  --color-forest-green: #051F13;
  --color-chocolate-brown: #442408;
  --color-divider-gray: #C0B5A7;
  --color-divider-amber: #ECD7BB;
}
