img {
  height: 200px;
}

.editor-container {
  height: 500px;
  background-color: rgb(255, 0, 187);
}

.editor {
  border: black 1px;
  border-radius: 16px; 
  height: 400px;
  padding: 8px;
  background-color: red;
}