@import '@/styles/ui/variables.css';

.container {
    margin: auto;
}

.roboto {
    font-family: var(--font-roboto);
    font-size: 48px;
    font-weight: bold;
}

.abhayaLibre {
    font-family: var(--font-abhaya-libre);
    font-weight: 400;
}

.EditorTitle {
    display: flex;
    margin: auto;
    width: var(--default-editor-width);
    padding: 16px;
    font-size: 40;
    font-weight: 600;
    background: none;
    outline: none;
}

.ChapterTitle {
    font-size: 20;
}

.header {
    background-color: var(--color-page);
}